#loginForm {
  width: 60vh;
  height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#loginForm:before {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 10px solid transparent;
  border-top-color: #348ea5a9;
  animation: spin 2s linear reverse infinite;
}

#loginForm:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 10px solid transparent;
  border-top-color: #22577fc1;
  animation: spin 4s linear infinite;
}

fieldset {
  background-color: rgba(23, 45, 63, 0.646);
  padding: 5vw;
  border-radius: 15px;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.loginInput {
  display: block;
  padding: 8%;
  text-align: center;
  background-color: rgba(51, 51, 55, 0.689);
  border: none;
  color: rgba(255, 255, 255, 0.718);
  position: relative;
  z-index: 15;
}

.loginInput:first-child {
  margin-bottom: 30px;
}

.loginInput:focus {
  outline: none;
}

.loginInput::placeholder {
  color: rgba(255, 255, 255, 0.718);
}
#submit {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
