body {
  background: url("../public/resources/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.page__style {
  font-family: OpenSans-Regular, sans-serif;
  height: 100vh;
  width: 100vw;
}

.animate_content {
  animation: animate 3s ease;
}

@keyframes animate {
  10% {
    transform: scale(0.002, 0.2);
    opacity: 0;
  }
  35% {
    transform: scale(0.002, 0.2);
    opacity: 0;
  }
  50% {
    transform: scale(0.002, 0.2);
    opacity: 0;
  }
  85% {
    transform: scale(0.002, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
