.objectiveLine {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  background-color: rgba(49, 52, 55, 0.779);
  border-radius: 5px;
  margin-bottom: 5px;
}

.titleWrap {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.objectiveTitle {
  margin: unset;
  font-size: 2vh;
}

.activeObjective {
  background-color: rgb(34, 35, 36);
  color: rgb(218, 217, 217);
  border-radius: 5px 5px 0 0;
}

.descriptionWrap {
  padding: 1vh;
  padding-left: 2vh;
}

.description {
  margin-bottom: 2vh;
  font-family: "Courier New", Courier, monospace;
}

.answerForm {
  text-align: right;
}

.answerBox {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  padding: 3px;
  font-family: "Courier New", Courier, monospace;
  margin-right: 5px;
}

.answerBox::placeholder {
  color: rgba(255, 255, 255, 0.745);
}

.answerBox:focus{
    outline: none;
    color: white;
}

.answerSubmit {
  background: none;
  font-family: "Courier New", Courier, monospace;
  border: none;
  border-left: 2px solid white;
  /* border-right: 2px solid white; */
  color: white;
  font-weight: bold;
}

.answerSubmit:hover {
  background-color: white;
  color: black;
}

.solved{
  background-color: green;
  border-radius: 5px;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.unshow{
  display: none;
}

