#offset {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#profilePic {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  /* margin-top: 5%; */
}
#picOrbitals {
  width: 40vh;
  height: 40vh;
  position: relative;
  margin-top: 5%;
}

#picOrbitals:before {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  border: 10px solid transparent;
  border-top-color: #348ea5a9;
  animation: spin 2s linear reverse infinite;
}

#picOrbitals:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 10px solid transparent;
  border-top-color: #22577fc1;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
